body {
    background-color: #f8f9fa;
  }
  
  h1, h2 {
    color: #333;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .btn-dark {
    background-color: black;
    border: none;
  }
  
  .btn-dark:hover {
    background-color: #333;
  }

  .btn-auth {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5c5c;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .btn-auth:hover {
    background-color: #ff8585;
    transform: scale(1.05);
  }
  
  .btn-auth:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(255, 92, 92, 0.6);
  }
